- if logged_in?
  %div.actions
    = link_to t('.log_out'), logout_path
  = t '.logged_in'
  = link_to_current_user :content_method => :login
- else
  %div.actions
    = link_to t('.log_in'),  login_path
    = link_to t('.sign_up'), signup_path
  = t '.visitor'

