- if logged_in?
  %div.actions
    = link_to t('.log_out'), logout_path
  = t '.logged_in'
  = link_to current_user.login, dashboard_path
- else
  %div.actions
    = link_to t('.log_in'),  login_path
    = link_to t('.sign_up'), signup_path
  = t '.visitor'

