%h2= t '.title', :creator => @invitation.creator.name
- if @invitation.radio.present?
  %p= t '.join_radio', :radio => @invitation.radio.name
- if @invitation.message.present?
  %p= t '.message', :name => @invitation.creator.name, :message => @invitation.message
%p
  = t '.how_to_join'
  = link_to invitation_url(@invitation), invitation_url(@invitation)
