= t '.blurb', :creator => @invitation.creator.name
- if @invitation.radio.present?
  = t '.join_radio', :radio => @invitation.radio.name
= "\n"
- if @invitation.message.present?
  = t '.message', :name => @invitation.creator.name, :message => @invitation.message
= "\n"
= t '.your_invitation_code', :code => @invitation.token
= "\n"
= t '.how_to_join'
= invitation_url(@invitation)
