- @user.password = @user.password_confirmation = nil

= form_for @user, {:html => {:autocomplete => 'off'}} do |f|
  - if @user.new_record? and @user.invitation_code.present?
    = f.hidden_field :invitation_code
  .split
    .left
      = auto_text_field f, :login
    .right
      = auto_text_field f, :email

  .split
    .left
      = auto_text_field f, :first_name

    .right
      = auto_text_field f, :last_name

  .split
    .left
      = auto_password_field f, :password

    .right
      = auto_password_field f, :password_confirmation
  .actions
    = f.submit

