.actions
  = link_to t(:edit), [:edit, @user] if @user.editable_by? current_user
%h2= @user.login
.split
  .left
    .block
      .name= @user.name
  .right
    .block
      %h3= t '.my_invitations'
      = render :partial => 'invitations/invitations', :locals => {:invitations => current_user.invitations}
