%nav
  .item.dashboard{:class => (controller_name == 'home' and action_name == 'dashboard' ? 'active' : '')}
    = link_to dashboard_path do
      = t('menu.dashboard')
  - if current_user.radio?
    .item.my-radio{:class => (controller_name == 'radios' ? 'active' : '')}
      = link_to t('menu.my_radio'), current_user.radio
    .item.play_queue{:class => (controller_name == 'queue_elems' ? 'active' : '')}
      = link_to t('menu.play_queue'), [current_user.radio, :queue_elems]
  .item.my-profile{:class => (controller_name == 'users' ? 'active' : '')}
    = link_to t('menu.my_profile'), current_user
  - if current_user.admin?
    .item.admin
      = link_to t('menu.administration'), admin_users_path

