%table
  %thead
    %tr
      %th= Token.human_attribute_name :token
      %th= Token.human_attribute_name :last_use_at
      %th= Token.human_attribute_name :expires_at
  %tbody
    - for token in tokens.order('last_use_at desc').limit(5)
      %tr{:class => cycle('odd', 'even') + (token.expired? ? ' expired' : '')}
        %td.token
          - if token.expired?
            = token.token
          - else
            = link_to token.token, [@user, token]
        %td= l(token.last_use_at, :format => :short)
        %td
          = l(token.expires_at, :format => :short)
          - if token.expired?
            = image_tag 'icons/16/warning.png', :title => t('.expired')
