%h3= t '.title'
.split
  .left
    = link_to new_radio_path, :class => 'new-radio button' do
      %h4= t('.new_radio.title')
      %p= t('.new_radio.desc')
  .right
    = link_to new_radio_path, :class => 'join-radio button' do
      %h4= t('.join_radio.title')
      %p= t('.join_radio.desc')
