.intro
  %h2= t('.title')
  %p
    = image_tag 'icons/32/contact.png'
    = t('.email')
    = mail_to 'team@defuze.me'
  %p
    = image_tag 'icons/32/twitter.png'
    = t('.twitter')
    = link_to 'twitter.com/defuzeme', 'http://twitter.com/defuzeme'
