.intro
  %h2= t('.title')
  %p= t('.available').html_safe
  %p.github
    = t('.github')
    %br
    = link_to 'github.com/defuzeme', 'https://github.com/defuzeme'
  #download
    .client
      %h3= t('.client')
      = download_file 'defuze_me_setup.exe', t('.windows_installer'), :class => :windows
      = download_file 'defuzeme-0.6.0-amd64.deb', t('.debian_package') + ' (64 bits)', :class => :linux
    .mobile
      %h3= t('.mobile_app')
      = download_file 'defuzeme.apk', t('.android_app')
    .doc
      %h3= t('.doc')
      - for doc in [:user, :technical]
        - name = t(".doc_#{doc}")
        - file = "/defuzeme_#{name.downcase.gsub(/\s+/, '_')}.pdf"
        = download_file file, name
    .source-code
      %h3= t('.source_code')
      = download_file 'defuzeme.zip'
    .clear
  %p.license= t('.license')

