.intro.faq
  %h2= t('.title')
  .block
    %h3= t('.general.title')
    %h4= t('.general.what_is_defuzeme.question')
    %p= t('.general.what_is_defuzeme.answer').html_safe

    %h4= t('.general.who_is_defuzeme_for.question')
    %p= t('.general.who_is_defuzeme_for.answer').html_safe

    %h4= t('.general.who_manage_defuzeme.question')
    %p= t('.general.who_manage_defuzeme.answer').html_safe

    -#
      %h3= t('.accessibility_updates.title')
      %h4= t('.accessibility_updates.is_it_charged.question')
      %p= t('.accessibility_updates.is_it_charged.answer').html_safe

      %h4= t('.accessibility_updates.trial_version.question')
      %p= t('.accessibility_updates.trial_version.answer').html_safe

      %h4= t('.accessibility_updates.updates.question')
      %p= t('.accessibility_updates.updates.answer').html_safe

    %h3= t('.compatibility.title')
    %h4= t('.compatibility.compatible_os.question')
    %p= t('.compatibility.compatible_os.answer').html_safe

    %h4= t('.compatibility.compatible_databases.question')
    %p= t('.compatibility.compatible_databases.answer').html_safe

    %h3= t('.miscellaneous.title')
    %h4= t('.miscellaneous.provided_languages.question')
    %p= t('.miscellaneous.provided_languages.answer').html_safe
    
