.intro
  %p.mozaic
    = image_tag 'mosaic1.jpg'
    +
    = image_tag 'mosaic2.jpg'
    \=
    = image_tag 'mosaic3.jpg'
  %h2.tagline= t('.tagline').html_safe
  .block
    %h3= t('.features.intro')
    %ul.features
      - for technology in %w(technologies social remote integration)
        %li{:class => technology}
          %h4= t(".features.#{technology}.title")
          %p= t(".features.#{technology}.blurb")
      %li.clear
    %p.reliability= t('.reliability').html_safe

