.intro
  #carousel
    = image_tag 'carousel/slide-left.png', :id => 'slide-left' 
    = image_tag 'carousel/slide-right.png', :id => 'slide-right' 

    #carousel-images
      %ul#imageslist
        %li
          = image_tag 'carousel/image1.jpg', :class => 'carousel' 
          %span Application client
        %li
          = image_tag 'carousel/image2.jpg', :class => 'carousel' 
          %span Un site internet pour g&eacute;rer votre planning de diffusion ou que vous soyez.
        %li
          = image_tag 'carousel/image3.jpg', :class => 'carousel' 
          %span Une application mobile pour contr&ocirc;ler votre radio sans rester devant votre ordinateur.

  %h2= t('.titles.software')
  %p Le logiciel client est l'outil id&eacute;al pour g&eacute;rer simplement des flux de diffusion radio.
  %p En effet, il permet une importation facile de fichiers audio &agrave; partir de n'importe quel espace de stockage, pour les rendre disponibles dans la biblioth&egrave;que du logiciel.
  %p La cr&eacute;ation et la gestion de listes de lecture se fait gr&acirc;ce &agrave; un syst&egrave;me de r&egrave;gles tr&egrave;s avanc&eacute; qui permet &eacute;galement une classification tr&egrave;s fine des pistes audio, afin de trouver avec une grande r&eacute;activit&eacute; les morceaux recherch&eacute;s.
  %p De plus, la gestion de la liste de diffusion est enti&egrave;rement configurable gr&acirc;ce &agrave; un module de mixage de qualit&eacute;. Un planning de diffusion offre la possibilit&eacute; de lecture d'enregistrements en diff&eacute;r&eacute;.
  %p Son interface est donc &agrave; la fois flexible et simple d'utilisation. Elle permet &eacute;galement de configurer tous les param&egrave;tres techniques de la diffusion radio.
 
  %h2= t('.titles.website')
  %p Vous souhaitez des renseignements sur defuze.me ? Le site <a href="http://www.defuze.me">http://www.defuze.me</a> r&eacute;pondra &agrave; toutes vos questions gr&acirc;ce &agrave; son portail de pr&eacute;sentation !
  %p De plus, le site permet &agrave; chaque radio de cr&eacute;er sa propre page publique, de g&eacute;rer son planning de diffusion et de b&eacute;n&eacute;ficier de rapports de publicit&eacute;, le tout via un acc&egrave;s s&eacute;curis&eacute;.
  %p Si vous souhaitez int&eacute;grer vos donn&eacute;es simplement &agrave; votre site web ou &agrave; votre blog, c'est possible gr&acirc;ce au service web que nous mettons &agrave; votre disposition !
 
  %h2= t('.titles.mobile')
  %p Un changement de derni&egrave;re minute ou besoin d'un contr&ocirc;le &agrave; distance ? L'application mobile est l&agrave; pour &ccedil;a !
  %p L'application mobile est une composante de la suite logiciel defuze.me, permettant de contr&ocirc;ler le logiciel client &agrave; distance. Elle offre une interface simplifi&eacute;e et adapt&eacute;e au monde de la mobilit&eacute; et la possibilit&eacute; de visualiser l'ensemble de la biblioth&egrave;que, ainsi qu'un acc&egrave;s aux contr&ocirc;les essentiels de l'application client.
  %p Disponible pour iOS et Android, cette application fonctionnera sur la plupart des tablettes disponibles sur le march&eacute;.

