.intro
  #carousel
    = image_tag 'carousel/slide-left.png', :id => 'slide-left' 
    = image_tag 'carousel/slide-right.png', :id => 'slide-right' 

    #carousel-images
      %ul#imageslist
        %li
          = image_tag 'carousel/image1.jpg', :class => 'carousel' 
          %span= t('.carousel.software')
        %li
          = image_tag 'carousel/image2.jpg', :class => 'carousel' 
          %span= t('.carousel.website')
        %li
          = image_tag 'carousel/image3.jpg', :class => 'carousel' 
          %span= t('.carousel.mobile')

  %h2= t('.titles.software')
  = t('.blurbs.software').html_safe
  %h2= t('.titles.website')
  = t('.blurbs.website').html_safe
  %h2= t('.titles.mobile')
  = t('.blurbs.mobile').html_safe

