= form_for @invitation do |f|
  .split
    .left
      = auto_text_field f, :email
      - if current_user.radio?
        = auto_check_box f, :link_radio
    .right
      = auto_text_area f, :message, :rows => 5

  .actions
    = f.submit

