.player
  = radio.status_key
  = link_to_function image_tag('icons/32/play.png'), "play(this);", :class => 'button play'
  = link_to_function image_tag('icons/32/pause.png'), "pause(this);", :class => 'button pause hidden'
  = link_to_function image_tag('icons/32/stop.png'), "stop(this);", :class => 'button stop'
  = link_to_function image_tag('icons/32/next.png'), "next(this);", :class => 'button next'
