.actions
  - if @radio.editable_by? current_user
    = link_to t(:edit), [:edit, @radio]
    = link_to t(:delete), [:delete, @radio], :class => 'important'
%h2= @radio.name
.split
  .left
    .block
      %h3= t 'details'
      %dl.icons
        %dt.description= Radio.human_attribute_name :description
        %dd= @radio.description
        %dt.website= Radio.human_attribute_name :website
        - if @radio.website.present?
          %dd= auto_link(@radio.website)
        - else
          %dd= t('not_filled').html_safe
        %dt.signal= Radio.human_attribute_name :frequency
        - if @radio.frequency.present?
          %dd= @radio.frequency_band
        - else
          %dd= t('not_filled').html_safe
  .right
    .block
      %h3= t 'members'
      = render :partial => 'members'

