- max_width = 900
- mobile_width = 600
%head
  %title defuze.me
  %meta{:charset => "utf-8"}/
  %meta{:content => "defuze.me", :name => "description"}/
  %meta{:content => "http://defuze.me", :name => "identifier-url"}/
  %meta{:content => "defuze.me EIP team", :lang => "fr", :name => "author"}/
  %meta{:content => "index, follow", :name => "robots"}/

  %meta{:content => "width=500, user-scalable=yes, initial-scale=0.7, maximum-scale=0.7", :name => "viewport"}/

  %link{:href => '/favicon.png', :rel => 'shortcut icon'}/
  = stylesheet_link_tag 'screen'
  = stylesheet_link_tag 'small', :media => "only screen and (max-width: #{max_width}px)"
  =# stylesheet_link_tag 'mobile', :media => "only screen and (max-width: #{mobile_width}px)"
  = javascript_include_tag 'jquery-1.5.2', 'rails', 'application'
  = csrf_meta_tag
  /[if lte IE 8]
    = javascript_include_tag 'html5'
  = yield :head
  = render :partial => 'shared/analytics'
