!!! 5
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  = render :partial => 'layouts/head'
  %body
    #wrapper
      %header
        = link_to root_path, :class => :logo do
          %h1
            %span Defuze.me
        #version
          - if defined? admin
            admin
          - else
            alphα
        #signin
          = render :partial => 'sessions/controls'
        .clear
      #content
        - flash.each do |type, msg|
          %div{:class => "flash #{type}"}= msg
        #main= yield
      %footer
        %div
          defuze.me © 2010-2012
