!!! 5
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  = render :partial => 'layouts/head'
  %body
    #wrapper
      %header
        = link_to root_path, :class => :logo do
          %h1
            %span Defuze.me
        #version
          - if defined? admin
            admin
          - else
            alphα
        #language-selector
          = render :partial => 'shared/language_selector'
        #signin
          = render :partial => 'sessions/controls'
        .clear
      #content
        - flash.each do |type, msg|
          %div{:class => "flash #{type}"}= msg
        #misc
          = render :partial => 'shared/public_menu'
          = yield :misc
        #main= yield
      %footer
        %div
          = render :partial => 'layouts/footer'
